<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nawigacja</title>

</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Strona główna</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a class="nav-link" th:href="@{/register}">Rejestracja</a></li>
            <li><a class="nav-link" th:href="@{/login}">Login</a></li>
            <li><a class="nav-link" th:href="@{/author}">O Autorze</a></li>
        </ul>
    </div>
</nav>

</body>
</html>